.tabel_cell {
	color: #1c1c28;
	font-weight: 400;
	font-family: Neo Sans Arabic;
	padding: 15px;
	font-size: 15px;
}

.name {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.name_label p {
	margin-bottom: 5px;
	font-family: Neo Sans Arabic;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #1c1c28;
}
.name_label span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 1px;
	text-align: left;
	color: #92a1ad;
}
